.title-input {
  width: 70%;
  height: 60px;
  margin-right: auto;
  margin-left: auto;
  display : block;
  padding: 8px 10px;
  box-sizing: border-box;
  font-size: 14px;
  border: none;
  border-bottom:2px solid  #9aa0a6;
  background: #fff;
  color: #111;                 /* 기본은 진하게 */
  outline: none; 
}

/* placeholder 상태일 때만 회색 표시 */
.title-input.is-placeholder {
  color: #9aa0a6;
}
